<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <link rel="pingback" href="https://betterbayalliance.org/xmlrpc.php">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Better Bay Alliance Launches &#8211; Better Bay Alliance</title>
    <meta name='robots' content='noindex,nofollow'/>
    <link rel='dns-prefetch' href='//fonts.googleapis.com'/>
    <link rel='dns-prefetch' href='//s.w.org'/>
    <link rel="alternate" type="application/rss+xml" title="Better Bay Alliance &raquo; Feed" href="https://betterbayalliance.org"/>
    <link rel="alternate" type="application/rss+xml" title="Better Bay Alliance &raquo; Comments Feed" href="https://betterbayalliance.org/?feed=comments-rss2"/>
    <link rel="alternate" type="application/rss+xml" title="Better Bay Alliance &raquo; Better Bay Alliance Launches Comments Feed" href="https://betterbayalliance.org/?feed=rss2&#038;p=288"/>
    <script type="text/javascript">
    window._wpemojiSettings = {
        "baseUrl": "https:\/\/s.w.org\/images\/core\/emoji\/13.0.1\/72x72\/",
        "ext": ".png",
        "svgUrl": "https:\/\/s.w.org\/images\/core\/emoji\/13.0.1\/svg\/",
        "svgExt": ".svg",
        "source": {
            "concatemoji": "https:\/\/betterbayalliance.org\/wp-includes\/js\/wp-emoji-release.min.js?ver=5.6"
        }
    };
    !function(e, a, t) {
        var r,
            n,
            o,
            i,
            p = a.createElement("canvas"),
            s = p.getContext && p.getContext("2d");
        function c(e, t) {
            var a = String.fromCharCode;
            s.clearRect(0, 0, p.width, p.height),
            s.fillText(a.apply(this, e), 0, 0);
            var r = p.toDataURL();
            return s.clearRect(0, 0, p.width, p.height), s.fillText(a.apply(this, t), 0, 0), r === p.toDataURL()
        }
        function l(e) {
            if (!s || !s.fillText)
                return !1;
            switch (s.textBaseline = "top", s.font = "600 32px Arial", e) {
            case "flag":
                return !c([127987, 65039, 8205, 9895, 65039], [127987, 65039, 8203, 9895, 65039]) && (!c([55356, 56826, 55356, 56819], [55356, 56826, 8203, 55356, 56819]) && !c([55356, 57332, 56128, 56423, 56128, 56418, 56128, 56421, 56128, 56430, 56128, 56423, 56128, 56447], [55356, 57332, 8203, 56128, 56423, 8203, 56128, 56418, 8203, 56128, 56421, 8203, 56128, 56430, 8203, 56128, 56423, 8203, 56128, 56447]));
            case "emoji":
                return !c([55357, 56424, 8205, 55356, 57212], [55357, 56424, 8203, 55356, 57212])
            }
            return !1
        }
        function d(e) {
            var t = a.createElement("script");
            t.src = e,
            t.defer = t.type = "text/javascript",
            a.getElementsByTagName("head")[0].appendChild(t)
        }
        for (i = Array("flag", "emoji"), t.supports = {
            everything: !0,
            everythingExceptFlag: !0
        }, o = 0; o < i.length; o++)
            t.supports[i[o]] = l(i[o]),
            t.supports.everything = t.supports.everything && t.supports[i[o]],
            "flag" !== i[o] && (t.supports.everythingExceptFlag = t.supports.everythingExceptFlag && t.supports[i[o]]);
        t.supports.everythingExceptFlag = t.supports.everythingExceptFlag && !t.supports.flag,
        t.DOMReady = !1,
        t.readyCallback = function() {
            t.DOMReady = !0
        },
        t.supports.everything || (n = function() {
            t.readyCallback()
        }, a.addEventListener ? (a.addEventListener("DOMContentLoaded", n, !1), e.addEventListener("load", n, !1)) : (e.attachEvent("onload", n), a.attachEvent("onreadystatechange", function() {
            "complete" === a.readyState && t.readyCallback()
        })), (r = t.source || {}).concatemoji ? d(r.concatemoji) : r.wpemoji && r.twemoji && (d(r.twemoji), d(r.wpemoji)))
    }(window, document, window._wpemojiSettings);
    </script>
    <style type="text/css">
    img.wp-smiley, img.emoji {
        display: inline !important;
        border: none !important;
        box-shadow: none !important;
        height: 1em !important;
        width: 1em !important;
        margin: 0 .07em !important;
        vertical-align: -0.1em !important;
        background: none !important;
        padding: 0 !important;
    }
    </style>
    <link rel='stylesheet' id='wp-block-library-css' href='https://betterbayalliance.org/wp-includes/css/dist/block-library/style.min.css?ver=5.6' type='text/css' media='all'/>
    <link rel='stylesheet' id='parent-style-css' href='https://betterbayalliance.org/wp-content/themes/the-core-parent/style.css?ver=5.6' type='text/css' media='all'/>
    <link rel='stylesheet' id='font-awesome-css' href='https://betterbayalliance.org/wp-content/plugins/unyson/framework/static/libs/font-awesome/css/font-awesome.min.css?ver=2.7.24' type='text/css' media='all'/>
    <link rel='stylesheet' id='bootstrap-css' href='https://betterbayalliance.org/wp-content/themes/the-core-parent/css/bootstrap.css?ver=1.0.42' type='text/css' media='all'/>
    <link rel='stylesheet' id='fw-mmenu-css' href='https://betterbayalliance.org/wp-content/themes/the-core-parent/css/jquery.mmenu.all.css?ver=1.0.42' type='text/css' media='all'/>
    <link rel='stylesheet' id='the-core-style-css' href='https://betterbayalliance.org/wp-content/uploads/the-core-style.css?ver=1601486570' type='text/css' media='all'/>
    <link rel='stylesheet' id='fw-theme-style-css' href='https://betterbayalliance.org/wp-content/themes/the-core-child/style.css?ver=1.0.42' type='text/css' media='all'/>
    <link rel='stylesheet' id='prettyPhoto-css' href='https://betterbayalliance.org/wp-content/themes/the-core-parent/css/prettyPhoto.css?ver=1.0.42' type='text/css' media='all'/>
    <link rel='stylesheet' id='animate-css' href='https://betterbayalliance.org/wp-content/themes/the-core-parent/css/animate.css?ver=1.0.42' type='text/css' media='all'/>
    <link rel='stylesheet' id='fw-googleFonts-css' href='https://fonts.googleapis.com/css?family=Montserrat%3Aregular%2C700%7CMerriweather%3A300%2C700%7CQuattrocento+Sans%3Aregular%2C700%7CNTR%3Aregular&#038;subset=latin&#038;ver=5.6' type='text/css' media='all'/>
    <script type='text/javascript' src='https://betterbayalliance.org/wp-includes/js/jquery/jquery.min.js?ver=3.5.1' id='jquery-core-js'></script>
    <script type='text/javascript' src='https://betterbayalliance.org/wp-includes/js/jquery/jquery-migrate.min.js?ver=3.3.2' id='jquery-migrate-js'></script>
    <script type='text/javascript' src='https://betterbayalliance.org/wp-content/themes/the-core-parent/js/lib/modernizr.min.js?ver=1.0.42' id='modernizr-js'></script>
    <script type='text/javascript' src='https://betterbayalliance.org/wp-content/themes/the-core-parent/js/lib/bootstrap.min.js?ver=1.0.42' id='bootstrap-js'></script>
    <script type='text/javascript' src='https://betterbayalliance.org/wp-content/themes/the-core-parent/js/jquery.touchSwipe.min.js?ver=1.0.42' id='touchSwipe-js'></script>
    <script type='text/javascript' src='https://betterbayalliance.org/wp-content/themes/the-core-parent/js/lib/html5shiv.js?ver=1.0.42' id='html5shiv-js'></script>
    <script type='text/javascript' src='https://betterbayalliance.org/wp-content/themes/the-core-parent/js/lib/respond.min.js?ver=1.0.42' id='respond-js'></script>
    <link rel="https://api.w.org/" href="https://betterbayalliance.org/index.php?rest_route=/"/>
    <link rel="alternate" type="application/json" href="https://betterbayalliance.org/index.php?rest_route=/wp/v2/posts/288"/>
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://betterbayalliance.org/xmlrpc.php?rsd"/>
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://betterbayalliance.org/wp-includes/wlwmanifest.xml"/>
    <link rel="canonical" href="https://betterbayalliance.org/?p=288"/>
    <link rel='shortlink' href='https://betterbayalliance.org/?p=288'/>
    <link rel="alternate" type="application/json+oembed" href="https://betterbayalliance.org/index.php?rest_route=%2Foembed%2F1.0%2Fembed&#038;url=https%3A%2F%2Fbetterbayalliance.org%2F%3Fp%3D288"/>
    <link rel="alternate" type="text/xml+oembed" href="https://betterbayalliance.org/index.php?rest_route=%2Foembed%2F1.0%2Fembed&#038;url=https%3A%2F%2Fbetterbayalliance.org%2F%3Fp%3D288&#038;format=xml"/>
    <meta property="og:title" content="Better Bay Alliance Launches"/>
    <meta property="og:url" content="https://betterbayalliance.org/?p=288"/>
    <meta property="og:type" content="website"/>
    <meta property="og:description" content="The Better Bay Alliance launches with a mission dedicated to identifying, aligning and assisting governmental, corporate, private and charitable stakeholders to enhance boating, watersports, tourism, and coastal living by focusing on information and education, promoting cleanliness and sustainability, and supporting accessibility and usability in Rhode Island."/>
    <style type="text/css">
    .recentcomments a {
        display: inline !important;
        padding: 0 !important;
        margin: 0 !important;
    }
    </style>
</head>
<body class="post-template-default single single-post postid-288 single-format-standard fw-full fw-website-align-center fw-section-space-md header-3 fw-top-bar-off fw-no-absolute-header fw-top-social-right  search-in-top-bar mobile-menu-item-align-left fw-logo-image fw-logo-retina fw-animation-mobile-off fw-search-filter-off" itemscope="itemscope" itemtype="https://schema.org/WebPage">
    <div id="page" class="hfeed site">
        <header class="fw-header" itemscope="itemscope" itemtype="https://schema.org/WPHeader">
            <div class="fw-header-main">
                <div class="fw-wrap-logo">
                    <div class="fw-container">

                        <a href="https://betterbayalliance.org/" class="fw-site-logo">
                            <img src="//betterbayalliance.org/wp-content/uploads/2020/02/BBA-Logo-with-words.png" alt="Better Bay Alliance"/>
                        </a>

                    </div>
                </div>
                <div class="fw-nav-wrap" itemscope="itemscope" itemtype="https://schema.org/SiteNavigationElement" role="navigation">
                    <div class="fw-container">
                        <a href="#mobile-menu" class="mmenu-link">
                            <i class="fa fa-navicon"></i>
                        </a>
                        <nav id="fw-menu-primary" class="fw-site-navigation primary-navigation">
                            <ul id="menu-main" class="fw-nav-menu">
                                <li id="menu-item-207" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-207 anchor">
                                    <a href="#about">About</a>
                                </li>
                                <li id="menu-item-206" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-206 anchor">
                                    <a href="#news">News</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="fw-wrap-search-form fw-form-search-full" role="search">
                <form class="fw-search-form" method="get" action="https://betterbayalliance.org/">
                    <input type="text" name="s" class="fw-input-search" placeholder="Search">
                    <div class="fw-submit-wrap"></div>
                </form>
            </div>
        </header>
        <nav id="mobile-menu">
            <ul>
                <li class="menu-item menu-item-type-custom menu-item-object-custom anchor">
                    <a href="#about">About</a>
                </li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom anchor">
                    <a href="#news">News</a>
                </li>
            </ul>
        </nav>
        <div id="main" class="site-main">
            <h3>Narragansett Bay AIS Data</h3>
            <script type="text/javascript">
                // Map appearance
                var width="100%";         // width in pixels or percentage
                var height="700";         // height in pixels
                var latitude="41.49";     // center latitude (decimal degrees)
                var longitude="-71.31";    // center longitude (decimal degrees)
                var zoom="11";             // initial zoom (between 3 and 18)
            </script>
            <script type="text/javascript" src="https://www.vesselfinder.com/aismap.js"></script>            <div class="no-header-image"></div>

        </div>
        <!-- /.site-main -->

        <!-- Footer -->
        <footer id="colophon" class="site-footer fw-footer " itemscope="itemscope" itemtype="https://schema.org/WPFooter">

            <div class="fw-footer-middle  ">
                <div class="fw-container"></div>
            </div>

            <div class="fw-footer-bar fw-copyright-center">
                <div class="fw-container">
                    <div class="fw-copyright">
                        <p>
                            designed by
                            <a href="https://risingt.com">risingT.com</a>
                        </p>
                    </div>
                </div>
            </div>
        </footer>

    </div>
    <!-- /#page -->
    <script type='text/javascript' src='https://betterbayalliance.org/wp-content/themes/the-core-child/js/custom.js?ver=1.0.4' id='custom-js'></script>
    <script type='text/javascript' src='https://betterbayalliance.org/wp-includes/js/comment-reply.min.js?ver=5.6' id='comment-reply-js'></script>
    <script type='text/javascript' src='https://betterbayalliance.org/wp-includes/js/imagesloaded.min.js?ver=4.1.4' id='imagesloaded-js'></script>
    <script type='text/javascript' src='https://betterbayalliance.org/wp-content/themes/the-core-parent/js/jquery.carouFredSel-6.2.1-packed.js?ver=1.0.42' id='carouFredSel-js'></script>
    <script type='text/javascript' src='https://betterbayalliance.org/wp-content/themes/the-core-parent/js/jquery.prettyPhoto.js?ver=1.0.42' id='prettyPhoto-js'></script>
    <script type='text/javascript' src='https://betterbayalliance.org/wp-content/themes/the-core-parent/js/jquery.customInput.js?ver=1.0.42' id='customInput-js'></script>
    <script type='text/javascript' src='https://betterbayalliance.org/wp-content/themes/the-core-parent/js/scrollTo.min.js?ver=1.0.42' id='scrollTo-js'></script>
    <script type='text/javascript' src='https://betterbayalliance.org/wp-content/themes/the-core-parent/js/jquery.mmenu.min.all.js?ver=1.0.42' id='mmenu-js'></script>
    <script type='text/javascript' src='https://betterbayalliance.org/wp-content/themes/the-core-parent/js/selectize.min.js?ver=1.0.42' id='selectize-js'></script>
    <script type='text/javascript' src='https://betterbayalliance.org/wp-content/themes/the-core-parent/js/jquery.parallax.js?ver=1.0.42' id='parallax-js'></script>
    <script type='text/javascript' src='https://betterbayalliance.org/wp-includes/js/jquery/ui/effect.min.js?ver=1.12.1' id='jquery-effects-core-js'></script>
    <script type='text/javascript' src='https://betterbayalliance.org/wp-content/themes/the-core-parent/js/lazysizes.min.js?ver=1.0.42' id='lazysizes-js'></script>
    <script type='text/javascript' id='general-js-extra'>
    /* <![CDATA[ */
    var FwPhpVars = {
        "disable_anchor_id": "false",
        "mmenu_title": "Menu",
        "back": "Back",
        "lang": "en",
        "ajax_url": "https:\/\/betterbayalliance.org\/wp-admin\/admin-ajax.php",
        "template_directory": "https:\/\/betterbayalliance.org\/wp-content\/themes\/the-core-parent",
        "previous": "Previous",
        "next": "Next",
        "fail_form_error": "Sorry you are an error in ajax, please contact the administrator of the website",
        "smartphone_animations": "no",
        "mobile_menu_position": "left",
        "mobile_menu_page_dim": "page-dim-none",
        "mobile_menu_border_style": "indent",
        "header_5_position": "left",
        "header_6_position": "left",
        "mobile_menu_screen": "1199",
        "effect_panels": "mm-effect-panels-left-right",
        "effect_listitems_slide": "effect-listitems-slide",
        "sticky_resolution": "767",
        "sticky_logo": "",
        "socials": null
    };
    /* ]]> */
    </script>
    <script type='text/javascript' src='https://betterbayalliance.org/wp-content/themes/the-core-parent/js/general.js?ver=1.0.42' id='general-js'></script>
    <script type='text/javascript' src='https://betterbayalliance.org/wp-includes/js/wp-embed.min.js?ver=5.6' id='wp-embed-js'></script>
</body>
</html>

