<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Pure CSS Expanding Search Bar Demo</title>  
    <meta name="description" content="We have quite another example of expanding search bar which made with pure css. It is quite similar to jQuery version. But this one more light weight and provide nice animation." />
    <meta name="author" content="Codeconvey" />
    <!--Only for demo purpose - no need to add.-->
    <link rel="stylesheet" type="text/css" href="../static/css/searchdemo/demo.css" />
    
    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="css/component2.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

</head>
<body>
		
<div class="ScriptTop">
    <div class="rt-container">
        <div class="col-rt-4" id="float-right">
           
        </div>
        <div class="col-rt-2">
            <ul>
                <li><a href="https://codeconvey.com/Tutorials/PlayButtonVideo/">Previous Demo</a></li>
                <li><a href="https://codeconvey.com/expanding-search-bar-with-jquery">Back to the Article</a></li>
            </ul>
        </div>
    </div>
</div>

<header class="ScriptHeader">
    <div class="rt-container">
    	<div class="col-rt-12">
        	<div class="rt-heading">
            	 <h1>Jquery Expanding Search Bar<span>Expanding on Click</span></h1>
            </div>
        </div>
    </div>
</header>

<nav class="codeconDemos">
    <div class="rt-container">
    <div class="col-rt-12">
        <a href="index.html" class="active">Demo 1</a>
        <a href="index2.html">Demo 2 - CSS Only</a>
        </div>
    </div>
</nav>


<div class="rt-container">
    <div class="codeconTop clearfix">
        <div class="col-rt-3">
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>        
        <div class="col-rt-3">
            <div class="expSearchBox">
                <div class="expSearchFrom">
                    <input id="field" type="text" value="Search here"/>    
                    <div class="close">
                        <span class="front"></span>
                        <span class="back"></span>
                    </div>   
                </div>
            </div>
        </div>
    </div>
</div>
    
     
<section>
    <div class="rt-container">
          <div class="col-rt-12">
              <h2>Let's Search out</h2>
              <p>There are two versions. First one build with jQuery and the other one created with purely CSS. Let's choice anyone which best fit for your.</p>
              <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
		</div>
    </div>
</section>
     
	
    <section class="related">
        <div class="rt-container">
            <div class="col-rt-12">
            	<p>If you enjoyed this demo you might also like:</p>
            </div>
            <div class="col-rt-3">
            	<a href="https://codeconvey.com/animated-search-box-css/">
                    <img src="https://codeconvey.com/wp-content/uploads/2019/04/animated-search-box-css-300x193.jpg" />
                    <h3>Expandable Animated Search Box CSS on Click</h3>
                </a>
            </div>
            <div class="col-rt-3">
            	<a href="https://codeconvey.com/css-search-box/">
                    <img src="https://codeconvey.com/wp-content/uploads/2019/04/beautiful-design-css-search-box-300x193.jpg" />
                    <h3>Nice & Beautiful Design CSS Search Boxes</h3>
                </a>
            </div>
            
        </div>    
    </section>
            
    

	</body>
</html>
