{% extends "base.html" %}
{% load static %}

{% block top_nav %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% include 'nav_template.html' %}
{% endblock %}

{% block content %}

    <section class="home" style="background-image: url('{% static "images/volvo_start2.png"%}')">
    </section>
    <div style="height: 1000px">
        <!-- just to make scrolling effect possible -->
	    <h2>Our Mission</h2>
        <p class="myP">

The Better Bay Alliance is a nonprofit organization dedicated to enhancing the boating experience on Narragansett Bay by identifying, communicating, and promoting safety, accessibility, and cooperation while sharing our wonderful natural resource. Through collaboration with governmental, corporate, and private stakeholders, the Better Bay Alliance strives to be a resource for all who which to enjoy the Bay.
			</p>
    </div>
<!-- Jquery needed -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
        $('.navTrigger').click(function () {
            $(this).toggleClass('active');
            console.log("Clicked menu");
            $("#mainListDiv").toggleClass("show_list");
            $("#mainListDiv").fadeIn();

        });
    </script>

    <script src="https://cpwebassets.codepen.io/assets/common/stopExecutionOnTimeout-157cd5b220a5c80d4ff8e0e70ac069bffd87a61252088146915e8726e5d9f147.js"></script>


      <script id="rendered-js" >
$('.navTrigger').click(function () {
  $(this).toggleClass('active');
  console.log("Clicked menu");
  $("#mainListDiv").toggleClass("show_list");
  $("#mainListDiv").fadeIn();

});
//# sourceURL=pen.js
    </script>


{% endblock content %}
