{% extends "base.html" %}
{% load static %}

{% block top_nav %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <div id="top-menubar container-fluid">
        <div class="row-fluid">
            <div id="logo-name" class="span2 logo-name">
                <div class="logo-name-container">
                    <div class=logo-image>
                        <img src="{% static 'images/BBA-Logo.png' %}" alt="BBA Logo"
                             style="width:75px;height:75px;"/>
                    </div>
                    <div class="logo-text">
                        Better Bay Alliance
                    </div>
                </div>
            </div>
            <div id="bba-top-menu" class="span7 bba-top-menu">
                <a href="news.html">News</a>
                <a href="{% url 'bba-monthly-view' current_datetime.year current_datetime.month %}">CALENDAR</a>
                <a href="about.html">About</a>
            </div>
            <div class=" span3 bba-top-right-menu">
                {% if user.is_authenticated %}
                    Hi {{ user.first_name }}!<a href="{% url 'logout' %}"> &nbsp;Log Out</a></p>
                {% else %}
                    <a href="{% url 'login' %}">Log In</a>
                {% endif %}
                <svg class="mk-svg-icon" data-name="mk-icon-search" data-cacheid="icon-605128897bf66"
                     style=" height:16px; width: 14.857142857143px; " xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 1664 1792">
                    <path d="M1152 832q0-185-131.5-316.5t-316.5-131.5-316.5 131.5-131.5 316.5 131.5 316.5 316.5 131.5 316.5-131.5 131.5-316.5zm512 832q0 52-38 90t-90 38q-54 0-90-38l-343-342q-179 124-399 124-143 0-273.5-55.5t-225-150-150-225-55.5-273.5 55.5-273.5 150-225 225-150 273.5-55.5 273.5 55.5 225 150 150 225 55.5 273.5q0 220-124 399l343 343q37 37 37 90z"></path>
                </svg>
            </div>
        </div>
    </div>



    </div>
{% endblock %}

{% block content %}
    <div class="container pt-5">
        <div class="row mb-2 posts">
            {% for news_article in news_articles %}
                <div class="col-md-6">
                    <div class="cards">
                        <div class="row no-gutters border rounded  flex-md-row mb-4 shadow-sm h-md-250">
                            <div class="col p-4 d-flex flex-column position-static">
                                <h3 class="my-1"><a
                                        href="{% url 'detail' news_article.slug %}">{{ news_article.title }}</a></h3>
                            <span>{{ news_article.content }}</span>
                                <div style="display:flex">
                                    {% for tag in news_article.tags.all %}
                                        <a href="{% url 'tagged' tag.slug %}"
                                           class="mr-1 badge badge-info">#{{ tag }}</a>
                                    {% endfor %}
                                </div>
                                <p class="mb-auto">{{ news_article.description }}</p>
                                <p class="mb-auto text-muted">{{ news_article.published }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <p>Common Tags:
            {% for mt in common_tags %}
                <a href="#" class="badge badge-success">{{ mt }}</a>
            {% endfor %}
        </p>
    </div>
{% endblock content %}
